*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    margin: 0 100px 0 100px;
}

/**HEADER**/
.logo {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {
    width: 8%;
}

h1 {
    color: #D04F4F;
    font-size: 36px;
}

.search-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    background: #e7e7ee;
}

.search-principal i {
    margin-right: 30px;
    font-size: 25px;
}

#search {
    display: flex;
    width: 80%;
    height: 80%;
    border: none;
    color: black;
    margin-left: 30px;
    margin-right: 20px;
    padding-left: 20px;
    background: #e7e7ee;
    font-size: 18px;
}

.mot_cle_tag {
    display: none;
    align-items: center;
    height: 50px;
    margin-top: 20px;
}

.search-secondary {
    display: flex;
    width: 70%;
    height: 50px;
    margin-top: 20px;
}

.global_ingredients, 
.global_appareils, 
.global_ustensiles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 170px;
    height: 69px;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    margin-right: 20px;
}

.global_ingredients_button,
.global_appareils_button,
.global_ustensiles_button {
    display: flex;
    width: 80%;
    height: 69px;
    justify-content: space-around;
    align-items: center;
}

.global_ingredients_list,
.global_appareils_list,
.global_ustensiles_list {
    display: none;
}

.global_ingredients {
    background-color: #3282F7;
}

.global_appareils {
    background-color: #68D9A4;
}

.global_ustensiles {
    background-color: #ED6454;
}
