$primary: #D04F4F;
$secondary: #E7E7E7;
$success: #3282F7;
$info: #68D9A4;
$warning: #ED6454;
$danger: #C7BEBE;

$font-family-sans-serif: "Lato", sans-serif;
$headings-font-family: "DM Sans", Times, serif;

$headings-font-weight: 700;