.section-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: inherit;
    grid-row-gap: 3.125rem;
    grid-column-gap: 2.5rem;
}


article {
    height: 22.75rem;
    background: #E7E7E7;
    border-radius: 5px;

    .img {
        height: 11.125rem;
        background: #C7BEBE;
        border-radius: 5px 5px 0 0;
    }

    .recette {
        height: 11.625rem;

        &__titre {
            display: flex;
            justify-content: space-between;
            padding: 1.25rem 1.25rem 0.625rem 1.25rem;
            height: 30%;
        }

        &__instr {
            display: flex;
            padding: 0px 1.25rem 1.25rem 1.25rem;
            height: 70%;
        }
    }

    h2 {
        display: flex;
        align-items: center;
        font-size: 1.125rem;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
    }

    .temps {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.125rem;
        font-weight: 700;

        p {
            margin-left: 0.313rem;
            margin-bottom: 0;
        }
    }

    .composition {
        font-size: 0.75rem;
        font-weight: 700;
        width: 50%;
        height: 100%;

        p {
            margin: 0;
        }
    }

    .instruction {
        font-size: 0.75rem;
        font-weight: 400;
        width: 50%;
        height: 100%;
        overflow: hidden;

        p {
            height: 100%;
            margin-bottom: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            white-space: normal;
        }
    }
}